:root {
    --primary-color: #3a4052;
    --red: #990000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.paragraf {
    margin-left: 100px;
    margin-right: 200px;
    width: 80%;
    text-align: center;

}

.text-footer {
    text-align: left;
    margin-left: 200px;
}

.short-text {
    margin: 5%;
    padding: 5px;
    width: 35%;
    height: 20%;
    border: solid var(--primary-color);
    border-radius: 20%;

}